In [2]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as pltww
from pprint import pprint
from config import api_key

In [4]:
url = "https://www.quandl.com/api/v3/datasets/FRED/NROUST.json?"

query_url = f'{url}api_key={api_key}'

unemployment = requests.get(query_url).json()
# pprint(unemployment)

In [5]:
unemployment_data = pd.DataFrame(unemployment["dataset"]["data"])
unemployment_data = unemployment_data.rename(columns = {0: "Date", 1:"Value"})
unemployment_data.head()

         Date  Value
0  2028-10-01   4.55
1  2028-07-01   4.55
2  2028-04-01   4.56
3  2028-01-01   4.56
4  2027-10-01   4.56