In [1]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
from pprint import pprint
from config import api_key

In [3]:
url = "https://www.quandl.com/api/v3/datasets/FRED/EFFR.json?"

query_url = f'{url}api_key={api_key}'

fed = requests.get(query_url).json()
# pprint(fed)

In [6]:
fed_data = pd.DataFrame(fed["dataset"]["data"])
fed_data = fed_data.rename(columns = {0: "Date", 1:"Value"})
fed_data.head()

         Date  Value
0  2018-10-04   2.18
1  2018-10-03   2.18
2  2018-10-02   2.18
3  2018-10-01   2.18
4  2018-09-28   2.18