In [1]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
from pprint import pprint
from config import api_key

In [21]:
url = "https://www.quandl.com/api/v3/datasets/USTREASURY/REALYIELD.json?"

query_url = f'{url}api_key={api_key}'

yield_real = requests.get(query_url).json()
# pprint(yield_real)

In [5]:
yield_curve = pd.DataFrame(yield_real["dataset"]["data"])
yield_curve = yield_curve.rename(columns = {0: "Date", 1:"5 Year", 2:"7 Year",
                                                 3: "10 Year", 4: "20 Year", 5:"30 Year"})

In [20]:
yield_clean = yield_curve.fillna(0)
yield_clean.loc[yield_clean["Date"] >= "2010-02-22"]

            Date  5 Year  7 Year  10 Year  20 Year  30 Year
0     2018-10-05    1.02    1.04     1.07     1.15     1.23
1     2018-10-04    0.99    1.01     1.03     1.11     1.18
2     2018-10-03    0.95    0.96     0.99     1.06     1.13
3     2018-10-02    0.91    0.92     0.93     1.00     1.07
4     2018-10-01    0.92    0.93     0.95     1.03     1.09
5     2018-09-28    0.91    0.91     0.91     0.97     1.04
6     2018-09-27    0.92    0.92     0.91     0.97     1.03
7     2018-09-26    0.92    0.92     0.92     0.97     1.03
8     2018-09-25    0.94    0.94     0.94     0.99     1.05
9     2018-09-24    0.93    0.93     0.92     0.98     1.04
10    2018-09-21    0.93    0.93     0.92     0.98     1.03
11    2018-09-20    0.94    0.93     0.92     0.98     1.04
12    2018-09-19    0.94    0.94     0.93     1.00     1.06
13    2018-09-18    0.93    0.92     0.92     0.98     1.05
14    2018-09-17    0.90    0.89     0.89     0.95     1.01
15    2018-09-14    0.90    0.90     0.89     0.95     1.00
16    2018-09-13    0.89    0.88     0.87     0.93     0.98
17    2018-09-12    0.85    0.85     0.85     0.92     0.97
18    2018-09-11    0.86    0.86     0.86     0.92     0.99
19    2018-09-10    0.85    0.85     0.84     0.90     0.96
20    2018-09-07    0.84    0.84     0.84     0.92     0.97
21    2018-09-06    0.79    0.80     0.80     0.88     0.94
22    2018-09-05    0.79    0.80     0.81     0.89     0.95
23    2018-09-04    0.79    0.79     0.80     0.88     0.94
24    2018-08-31    0.76    0.76     0.78     0.85     0.91
25    2018-08-30    0.76    0.76     0.76     0.82     0.88
26    2018-08-29    0.78    0.78     0.77     0.83     0.90
27    2018-08-28    0.78    0.77     0.77     0.84     0.91
28    2018-08-27    0.74    0.74     0.74     0.81     0.88
29    2018-08-24    0.73    0.73     0.73     0.79     0.86
...          ...     ...     ...      ...      ...      ...
2130  2010-04-02    0.81    1.33     1.69     2.07     2.22
2131  2010-04-01    0.74    1.26     1.61     2.00     2.16
2132  2010-03-31    0.72    1.23     1.60     1.99     2.16
2133  2010-03-30    0.77    1.28     1.66     2.06     2.22
2134  2010-03-29    0.75    1.25     1.66     2.07     2.22
2135  2010-03-26    0.73    1.24     1.62     2.03     2.20
2136  2010-03-25    0.78    1.28     1.65     2.06     2.23
2137  2010-03-24    0.73    1.21     1.60     2.03     2.21
2138  2010-03-23    0.64    1.12     1.49     1.93     2.11
2139  2010-03-22    0.61    1.10     1.48     1.91     2.09
2140  2010-03-19    0.62    1.11     1.50     1.92     2.10
2141  2010-03-18    0.52    1.03     1.45     1.91     2.09
2142  2010-03-17    0.42    0.95     1.40     1.90     2.07
2143  2010-03-16    0.45    0.98     1.42     1.92     2.11
2144  2010-03-15    0.49    1.02     1.46     1.95     2.13
2145  2010-03-12    0.49    1.01     1.45     1.94     2.13
2146  2010-03-11    0.54    1.06     1.49     1.97     2.16
2147  2010-03-10    0.48    1.01     1.49     2.00     2.18
2148  2010-03-09    0.46    0.99     1.48     2.02     2.19
2149  2010-03-08    0.49    1.03     1.49     2.00     2.17
2150  2010-03-05    0.46    1.00     1.48     1.99     2.15
2151  2010-03-04    0.44    0.96     1.44     1.96     2.12
2152  2010-03-03    0.43    0.97     1.46     1.99     2.15
2153  2010-03-02    0.44    0.98     1.46     1.98     2.14
2154  2010-03-01    0.45    0.98     1.46     1.98     2.14
2155  2010-02-26    0.47    0.99     1.48     1.98     2.13
2156  2010-02-25    0.50    1.03     1.51     2.01     2.16
2157  2010-02-24    0.50    1.03     1.51     2.00     2.16
2158  2010-02-23    0.47    1.00     1.50     2.00     2.14
2159  2010-02-22    0.55    1.09     1.55     2.04     2.22

[2160 rows x 6 columns]